.home-container {
    //中奖纪录图片
    .common-title {
        text-align: center;
        width: 3.22rem;
        height: 3.22rem;
        margin: 0 auto;
        margin-top: 2.4rem;
    } //提交成功
    .record-list {
        width: 1.58rem;
        height: .44rem;
        font-size: .31rem;
        margin: 0 auto;
        margin-top: .52rem;
        text-align: center;
        font-family: PingFangSC-Regular;
        color: rgba(253, 142, 0, 1);
        line-height: .44rem;
    } //奖品将于3-7个工作日寄出
    .common-title-1 {
        width: 3.88rem;
        height: .54rem;
        font-size: .31rem;
        margin: 0 auto;
        margin-top: .08rem;
        text-align: center;
        font-family: PingFangSC-Regular;
        color: rgba(253, 142, 0, 1);
        line-height: .54rem;
    }
}