.warning-container {
    //中奖纪录图片
    .warning-title {
        text-align: center;
        width: 3.22rem;
        height: 3.22rem;
        margin: 0 auto;
        margin-top: 2.4rem;
    } //暂无中奖信息
    .warning-list {
        width: 1.9rem;
        height: .44rem;
        font-size: .31rem;
        margin: 0 auto;
        margin-top: .78rem;
        text-align: center;
        font-family: PingFangSC-Regular;
        color: rgba(51, 51, 51, 1);
        line-height: .44rem;
    }
}